@{
    ViewData["Title"] = "Home Page";
}

<p>
    <h1>Controller</h1>
    <ul>
        <li>Singleton: @ViewBag.Singleton</li>
        <li>Scoped: @ViewBag.Scoped</li>
        <li>Transient: @ViewBag.Transient</li>
    </ul>
</p>

<p>
    <h1>Service</h1>
    <ul>
        <li>Singleton: @ViewBag.WSingleton</li>
        <li>Scoped: @ViewBag.WScoped</li>
        <li>Transient: @ViewBag.WTransient</li>
    </ul>
</p>